In [1]:
import collections
import math
import pandas as pd
print 'Pandas Version ' + pd.__version__

Pandas Version 0.20.2

In [2]:
# Functions that we are going to use to build in extra features
def getLength(string):
    return len(string)

def getEntropy(string):
    p, lns = collections.Counter(string), float(len(string))
    return -sum( count/lns * math.log(count/lns, 2) for count in p.values())

In [3]:
# Read the raw CSV file into a dataframe
df = pd.read_csv('simple_domains.csv', names=['rank','uri'], header=None, encoding='utf-8')
# Look at the top of the dataframe
df.head(10)

   rank                                                uri
0     1                                  www.facebook.com.
1     2                                       www.ibm.com.
2     3                                   www.twitter.com.
3     4                                  www.amazon.co.uk.
4     5                                 www.microsoft.com.
5     6                                      www.yahoo.com
6     7  www.x100-19735784.facebook.xw993je8h78ruhe8fuh...
7     8                                        www.boi.ie.
8     9                                        www.itb.ie.
9    10                                     www.bbc.co.uk.

In [4]:
# Add some new features/columns to the dataframe

# Left side of '=' is the new column and right side of '=' is the calculated value that will get added to each row

# Add the length feature as a column
df['length'] = [getLength(uri) for uri in df['uri']]

# Add an Entropy calculation as a column
df['entropy'] = [getEntropy(uri) for uri in df['uri']]

In [5]:
# Show the dataframe again with the new columns
df.head(10)

   rank                                                uri  length   entropy
0     1                                  www.facebook.com.      17  3.130718
1     2                                       www.ibm.com.      12  2.625815
2     3                                   www.twitter.com.      16  2.905639
3     4                                  www.amazon.co.uk.      17  3.101881
4     5                                 www.microsoft.com.      18  3.155222
5     6                                      www.yahoo.com      13  2.815072
6     7  www.x100-19735784.facebook.xw993je8h78ruhe8fuh...      51  4.336367
7     8                                        www.boi.ie.      11  2.413088
8     9                                        www.itb.ie.      11  2.413088
9    10                                     www.bbc.co.uk.      14  2.610577

In [6]:
# Delete the rank column
del df['rank']

In [7]:
# Show the dataframe again with the new columns
df.head(10)

                                                 uri  length   entropy
0                                  www.facebook.com.      17  3.130718
1                                       www.ibm.com.      12  2.625815
2                                   www.twitter.com.      16  2.905639
3                                  www.amazon.co.uk.      17  3.101881
4                                 www.microsoft.com.      18  3.155222
5                                      www.yahoo.com      13  2.815072
6  www.x100-19735784.facebook.xw993je8h78ruhe8fuh...      51  4.336367
7                                        www.boi.ie.      11  2.413088
8                                        www.itb.ie.      11  2.413088
9                                     www.bbc.co.uk.      14  2.610577

In [9]:
# Save the dataframe to a new CSV file
df.to_csv('processed_domains.csv',header=False, index=False)